<div id="background">
  <header class="cf">
    <%= link_to "Searchlight.FM", root_path, id: "logo" %>
      <nav>
        <ul>
          <li><%= link_to "Explore", podcasts_path %></li>
          <li><%= link_to "Sign In", new_podcast_session_path %></li>
          <li><%= link_to "Create a Podcast", new_podcast_registration_path %></li>
        </ul>
      </nav>
  </header>

  <div class="wrapper-skinny">
    <h1>Discover Your New Favorite Podcast</h1>
    <%=link_to "Join us!", new_podcast_registration_path, class: "button button-highlight" %>
    <%= link_to "Explore", podcasts_path, class: "button button-white" %>
  </div>
</div>