<div id="podcast-show">
  <div id="show-banner">
    <div class="wrapper-skinny">
      <h1><%= @podcast.title %></h1>
        <p class="description"><%= @podcast.description %></p>
      <% unless @podcast.itunes? %>
        <a href="<%= @podcast.itunes %>" class="subscribe-link">itunes </a>
      <% end %>
      <% unless @podcast.stitcher? %>
        <a href="<%= @podcast.stitcher %>" class="subscribe-link" >Stitcher </a>
      <% end %>
      <% unless @podcast.podbay? %>
        <a href="<%= @podcast.podbay %>" class="subscribe-link" >Podbay </a>
      <% end %>
    </div>
  </div>

  <div id="breadcrumb">
    <%= link_to podcasts_path do %>
      All Podcasts
      <span>/</span>
      Searchlight podcast
    <% end %>
  </div>

  <div id="episodes">
    <div class="wrapper-skinny">
      <ul class="cf">
        <% @episodes.each do |episode| %>
        <li class="cf">
          <div class="episode-thumbnail">
            <a href="#">
               <%= image_tag episode.episode_thumbnail.url(:medium) %>
            </a>
          </div>
          <div class="episode-overview">
            <h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
            <p class="description"><%= truncate(episode.description, length: 160) %></p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= will_paginate @episodes %>