<!DOCTYPE html>
<html>
<head>
  <title>SearchlightFm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, async: true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, , async: true, , cache: true %>
  <%= stylesheet_link_tag 'application', "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" , :media => "all" %>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <% if alert %>
    <div id="alert-wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <% elsif notice %>
    <div id="notice-wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>

<% unless current_page?(root_path)%>
  <%= render 'layouts/header'; %>
<% end %>

<%= yield %>

</body>
</html>
